In [ ]:
list_example = ["catüòπ","dogüê∂","goatüêê","fishüêü","cowüêÆ"]
list_example

In [ ]:
# list_example = ["cat","dog","goat","fish","cow"]
slicing_example2 = list_example[:3]
#slicing_example2
#slicing_example3 = list_example[1:4]
#slicing_example3
slicing_example4 = list_example[0::2]
slicing_example4

In [ ]:
example_dictionary = {"Car" : 23 , "House":"Big" , "Cat":{"Black": "Fluffy", "White" : "Adorable", "Borwn": "Cute"}}
example_dictionary

In [ ]:
import pandas as pd

In [ ]:
series_example = pd.Series([6,3,4,5,2,4])
series_example

In [ ]:
series_example_dictionary = {"a" : 1, "b" : 2, "c" : 3}
pd.Series(series_example_dictionary)

In [ ]:
series_example_dictionary = {"a" : 1, "b" : 2, "c" : 3}
pd.Series(series_example_dictionary, index=['b','c','d'])

In [ ]:
series_example = pd.Series([6,3,4,5,2,4], index = ['a','b','c','d','e','f'])
series_example

In [ ]:
series_example['d']

In [ ]:
series_example = pd.Series(5, index = ['a','b','c'])
series_example

In [ ]:
dataframe_example = pd.DataFrame([6,3,4,5,2,4], index = ['a','b','c','d','e','f'])
dataframe_example

In [ ]:
dataframe_example1 = { "first": pd.Series([1,2,3], index = ["a","b","c"]),
                       "second": pd.Series([1,2,3,4], index = ["a","b","c","d"])
                     }
df2 = pd.DataFrame(dataframe_example1)
df2

In [ ]:
pd.DataFrame(dataframe_example1, index=["d","b","a"], columns=["second","three"])

In [ ]:
df2 = pd.read_csv("Student Performance New.csv")
df2

In [ ]:
#importing dataset by reading csv file
data = pd.read_csv("./valorant_agent.csv")
data

In [ ]:
data2 = pd.read_excel("./Global Superstore.xlsx")

In [60]:
data2[["Country","Sales"]]

         Country     Sales
0        Hungary    66.120
1        Algeria   408.300
2      Australia   113.670
3      Australia    55.242
4      Australia   120.366
...          ...       ...
51285     Brazil    74.800
51286     Brazil  1264.466
51287    Morocco     3.990
51288     Mexico    16.740
51289    Ukraine    27.840

[51290 rows x 2 columns]

In [44]:
data4 = pd.read_excel("./Global Superstore.xlsx", sheet_name=["Orders","Returns","People"])
data4

{'Orders':               Category          City    Country    Customer Name Market  \
 0      Office Supplies      Budapest    Hungary    Annie Thurman   EMEA
 1      Office Supplies   Constantine    Algeria  Toby Braunhardt   EMEA
 2            Furniture   Wagga Wagga  Australia      Joseph Holt   APAC
 3      Office Supplies   Wagga Wagga  Australia      Joseph Holt   APAC
 4      Office Supplies   Wagga Wagga  Australia      Joseph Holt   APAC
 ...                ...           ...        ...              ...    ...
 51285       Technology     S√£o Paulo     Brazil       Erica Bern  LATAM
 51286       Technology     S√£o Paulo     Brazil       Erica Bern  LATAM
 51287  Office Supplies        Agadir    Morocco        Liz Preis   EMEA
 51288  Office Supplies       Reynosa     Mexico    Julia Barnett  LATAM
 51289  Office Supplies  Zaporizhzhya    Ukraine     Guy Thornton   EMEA

       Customer ID Order Date  Year (OrderDate)        Order ID Order Priority  \
 0         AT-7352 2012-01-01              2012    HU-2011-1220           High
 1       TB-112801 2012-01-01              2012    AG-2011-2040         Medium
 2       JH-159851 2012-01-01              2012   IN-2011-47883         Medium
 3       JH-159851 2012-01-01              2012   IN-2011-47883         Medium
 4       JH-159851 2012-01-01              2012   IN-2011-47883         Medium
 ...           ...        ...               ...             ...            ...
 51285   EB-139753 2015-12-31              2015  MX-2014-116267           High
 51286   EB-139753 2015-12-31              2015  MX-2014-116267           High
 51287    LP-70951 2015-12-31              2015    MO-2014-2560         Medium
 51288   JB-160453 2015-12-31              2015  MX-2014-108574         Medium
 51289    GT-47553 2015-12-31              2015    UP-2014-4410         Medium

        ...      Segment  Ship Date       Ship Mode             State  \
 0      ...     Consumer 2012-01-05    Second Class          Budapest
 1      ...     Consumer 2012-01-06  Standard Class       Constantine
 2      ...     Consumer 2012-01-08  Standard Class   New South Wales
 3      ...     Consumer 2012-01-08  Standard Class   New South Wales
 4      ...     Consumer 2012-01-08  Standard Class   New South Wales
 ...    ...          ...        ...             ...               ...
 51285  ...    Corporate 2016-01-03    Second Class         S√£o Paulo
 51286  ...    Corporate 2016-01-03    Second Class         S√£o Paulo
 51287  ...     Consumer 2016-01-05  Standard Class  Souss-Massa-Dra√¢
 51288  ...  Home Office 2016-01-04  Standard Class        Tamaulipas
 51289  ...     Consumer 2016-01-04  Standard Class      Zaporizhzhya

       Sub-Category Discount   Profit Quantity     Sales  Shipping Cost
 0          Storage    0.000   29.640        4    66.120          8.170
 1          Storage    0.000  106.140        2   408.300         35.460
 2      Furnishings    0.100   37.770        5   113.670          4.700
 3            Paper    0.100   15.342        2    55.242          1.800
 4         Supplies    0.100   36.036        3   120.366          9.720
 ...            ...      ...      ...      ...       ...            ...
 51285  Accessories    0.000   28.420        1    74.800          7.312
 51286      Copiers    0.002  301.466        5  1264.466        253.254
 51287      Binders    0.000    0.420        1     3.990          0.490
 51288       Labels    0.000    0.660        3    16.740          1.324
 51289       Labels    0.000    6.120        4    27.840          1.700

 [51290 rows x 24 columns],
 'Returns':      Returned        Order ID Market
 0         Yes   ID-2011-20975   APAC
 1         Yes   IN-2014-58460   APAC
 2         Yes   IN-2014-54708   APAC
 3         Yes   ID-2011-20989   APAC
 4         Yes   IN-2012-63934   APAC
 ...       ...             ...    ...
 1168      Yes  CA-2012-134075   USCA
 1169      Yes  US-2013-157490   USCA
 1170      Yes  US-2014-105046   USCA
 1171      Yes  CA-2014-134194   USCA
 1172      Yes  CA-2014-168193   USCA

 [1173 rows x 3 columns],
 'People':                   Person          Region
 0          Anna Andreadi         Central
 1            Chuck Magee           South
 2         Kelly Williams            East
 3         Matt Collister            West
 4      Deborah Brumfield          Africa
 5           Larry Hughes            AMEA
 6          Nicole Hansen          Canada
 7       Giulietta Dortch       Caribbean
 8             Nora Preis    Central Asia
 9            Jack Lebron           North
 10       Shirley Daniels      North Asia
 11        Anthony Jacobs         Oceania
 12  Alejandro Ballentine  Southeast Asia}

In [46]:
# print(data4["Returns"])
type(data4["Returns"])

pandas.core.frame.DataFrame

In [47]:
df3 = data.to_csv("valorant_agent_type1.csv", index = False, sep=',', encoding='utf-8')

In [48]:
df3 = data.to_excel("valorant_agent_type1.xlsx", sheet_name = "Agents", index = False)

In [52]:
data4["Orders"].to_csv("Global_Superstore_Orders.csv", index=False, sep=',', encoding="utf-8")
data4["Orders"].to_excel("Global_Superstore_Orders.xlsx", index=False, sheet_name="Orders")

In [55]:
index = data2["City"]
index

0            Budapest
1         Constantine
2         Wagga Wagga
3         Wagga Wagga
4         Wagga Wagga
             ...
51285       S√£o Paulo
51286       S√£o Paulo
51287          Agadir
51288         Reynosa
51289    Zaporizhzhya
Name: City, Length: 51290, dtype: object

In [ ]:
index1 = data2[["Category","Country","City"]]
index1

In [61]:
dfloc = data2.loc[2:34:2 ,"Country":"Sub-Category":2]
dfloc

,Country,Market,Order Date,Order ID,Product ID,Region,Segment,Ship Mode,Sub-Category
2,Australia,APAC,2012-01-01,IN-2011-47883,FUR-FU-10003447,Oceania,Consumer,Standard Class,Furnishings
4,Australia,APAC,2012-01-01,IN-2011-47883,OFF-SU-10000618,Oceania,Consumer,Standard Class,Supplies
6,Canada,USCA,2012-01-02,CA-2011-1510,TEC-OKI-10002750,Canada,Consumer,Standard Class,Machines
8,New Zealand,APAC,2012-01-03,ID-2011-80230,FUR-CH-10000666,Oceania,Consumer,Standard Class,Chairs
10,New Zealand,APAC,2012-01-03,ID-2011-80230,TEC-CO-10004182,Oceania,Consumer,Standard Class,Copiers
12,United Kingdom,EMEA,2012-01-03,ES-2011-4869686,FUR-BO-10000728,North,Consumer,Standard Class,Bookcases
14,Thailand,APAC,2012-01-03,ID-2011-12596,OFF-ST-10002066,Southeast Asia,Consumer,Standard Class,Storage
16,Philippines,APAC,2012-01-03,IN-2011-65159,OFF-FA-10002569,Southeast Asia,Consumer,Second Class,Fasteners
18,Australia,APAC,2012-01-03,IN-2011-79397,OFF-AP-10000304,Oceania,Corporate,Same Day,Appliances
20,Iraq,EMEA,2012-01-03,IZ-2011-4680,FUR-NOV-10002791,EMEA,Corporate,Standard Class,Chairs
22,Iran,EMEA,2012-01-03,IR-2011-7690,OFF-BIC-10000582,EMEA,Corporate,Second Class,Art
24,Iran,EMEA,2012-01-03,IR-2011-770,OFF-BRE-10003081,EMEA,Consumer,Standard Class,Appliances
26,Iran,EMEA,2012-01-03,IR-2011-770,OFF-ROG-10004393,EMEA,Consumer,Standard Class,Storage
28,France,EMEA,2012-01-04,ES-2011-4939443,OFF-AR-10001546,Central,Consumer,Standard Class,Art
30,United Kingdom,EMEA,2012-01-04,IT-2011-2942451,OFF-ST-10001426,North,Corporate,Standard Class,Storage
32,Sudan,EMEA,2012-01-04,SU-2011-5190,OFF-BOS-10004950,Africa,Consumer,Standard Class,Art
34,Brazil,LATAM,2012-01-04,MX-2011-111255,FUR-BO-10001498,South,Consumer,Second Class,Bookcases

In [64]:
data2[["Country","Market","Segment"]].iloc[2:34:2]

           Country Market    Segment
2        Australia   APAC   Consumer
4        Australia   APAC   Consumer
6           Canada   USCA   Consumer
8      New Zealand   APAC   Consumer
10     New Zealand   APAC   Consumer
12  United Kingdom   EMEA   Consumer
14        Thailand   APAC   Consumer
16     Philippines   APAC   Consumer
18       Australia   APAC  Corporate
20            Iraq   EMEA  Corporate
22            Iran   EMEA  Corporate
24            Iran   EMEA   Consumer
26            Iran   EMEA   Consumer
28          France   EMEA   Consumer
30  United Kingdom   EMEA  Corporate
32           Sudan   EMEA   Consumer

In [69]:
for i in range(0, len(data2.columns)):
    print(i, data2.columns[i])

0 Category
1 City
2 Country
3 Customer Name
4 Market
5 Customer ID
6 Order Date
7 Year (OrderDate)
8 Order ID
9 Order Priority
10 Product ID
11 Product Name
12 Region
13 Row ID
14 Segment
15 Ship Date
16 Ship Mode
17 State
18 Sub-Category
19 Discount
20 Profit
21 Quantity
22 Sales
23 Shipping Cost

In [70]:
data2.iloc[2:34:2, [2,4,14]]

           Country Market    Segment
2        Australia   APAC   Consumer
4        Australia   APAC   Consumer
6           Canada   USCA   Consumer
8      New Zealand   APAC   Consumer
10     New Zealand   APAC   Consumer
12  United Kingdom   EMEA   Consumer
14        Thailand   APAC   Consumer
16     Philippines   APAC   Consumer
18       Australia   APAC  Corporate
20            Iraq   EMEA  Corporate
22            Iran   EMEA  Corporate
24            Iran   EMEA   Consumer
26            Iran   EMEA   Consumer
28          France   EMEA   Consumer
30  United Kingdom   EMEA  Corporate
32           Sudan   EMEA   Consumer

In [62]:
dfiloc = data2.iloc[2:34:2, 3:11 :2]
dfiloc

        Customer Name Customer ID  Year (OrderDate) Order Priority
2         Joseph Holt   JH-159851              2012         Medium
4         Joseph Holt   JH-159851              2012         Medium
6     Magdelene Morse    MM-72602              2012         Medium
8        Ken Lonsdale   KL-166451              2012            Low
10       Ken Lonsdale   KL-166451              2012            Low
12  Dorothy Dickinson   DD-135702              2012         Medium
14       Chris McAfee   CM-122351              2012         Medium
16       Larry Blacks   LB-167351              2012           High
18        Kean Nguyen   KN-164501              2012       Critical
20   Lindsay Williams    LW-69902              2012           High
22         Nat Gilpin    NG-83553              2012           High
24      Jas O'Carroll    JO-52801              2012         Medium
26      Jas O'Carroll    JO-52801              2012         Medium
28     Arthur Prichep   AP-109152              2012         Medium
30     Grant Thornton   GT-146352              2012         Medium
32    Jasper Cacioppo    JC-53401              2012         Medium

In [ ]:
data3 = pd.read_excel("C:/Users/Nadia/Downloads/Python DE Exercises/Global Superstore.xlsx", sheet_name="People")
data3

In [ ]:
data5 = pd.DataFrame(pd.read_excel("C:/Users/Nadia/Downloads/Python DE Exercises/Global Superstore.xlsx", sheet_name="People"))
data5

In [ ]:
row0 = data2.iloc[0]
row0

In [ ]:
rows2 = data2.iloc[4:8]
rows2

In [ ]:
rows3 = data2.iloc[4:8,0:2]
rows3

#extract_sample = data2[1:8]
extract_sample

# Dropping Data

In [78]:
drop_example2 = data2.drop(columns = ["Country"])
drop_example2

,Category,City,Customer Name,Market,Customer ID,Order Date,Year (OrderDate),Order ID,Order Priority,Product ID,...,Segment,Ship Date,Ship Mode,State,Sub-Category,Discount,Profit,Quantity,Sales,Shipping Cost
0,Office Supplies,Budapest,Annie Thurman,EMEA,AT-7352,2012-01-01,2012,HU-2011-1220,High,OFF-TEN-10001585,...,Consumer,2012-01-05,Second Class,Budapest,Storage,0.000,29.640,4,66.120,8.170
1,Office Supplies,Constantine,Toby Braunhardt,EMEA,TB-112801,2012-01-01,2012,AG-2011-2040,Medium,OFF-TEN-10000025,...,Consumer,2012-01-06,Standard Class,Constantine,Storage,0.000,106.140,2,408.300,35.460
2,Furniture,Wagga Wagga,Joseph Holt,APAC,JH-159851,2012-01-01,2012,IN-2011-47883,Medium,FUR-FU-10003447,...,Consumer,2012-01-08,Standard Class,New South Wales,Furnishings,0.100,37.770,5,113.670,4.700
3,Office Supplies,Wagga Wagga,Joseph Holt,APAC,JH-159851,2012-01-01,2012,IN-2011-47883,Medium,OFF-PA-10001968,...,Consumer,2012-01-08,Standard Class,New South Wales,Paper,0.100,15.342,2,55.242,1.800
4,Office Supplies,Wagga Wagga,Joseph Holt,APAC,JH-159851,2012-01-01,2012,IN-2011-47883,Medium,OFF-SU-10000618,...,Consumer,2012-01-08,Standard Class,New South Wales,Supplies,0.100,36.036,3,120.366,9.720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,Technology,S√£o Paulo,Erica Bern,LATAM,EB-139753,2015-12-31,2015,MX-2014-116267,High,TEC-AC-10003454,...,Corporate,2016-01-03,Second Class,S√£o Paulo,Accessories,0.000,28.420,1,74.800,7.312
51286,Technology,S√£o Paulo,Erica Bern,LATAM,EB-139753,2015-12-31,2015,MX-2014-116267,High,TEC-CO-10000137,...,Corporate,2016-01-03,Second Class,S√£o Paulo,Copiers,0.002,301.466,5,1264.466,253.254
51287,Office Supplies,Agadir,Liz Preis,EMEA,LP-70951,2015-12-31,2015,MO-2014-2560,Medium,OFF-WIL-10001069,...,Consumer,2016-01-05,Standard Class,Souss-Massa-Dra√¢,Binders,0.000,0.420,1,3.990,0.490
51288,Office Supplies,Reynosa,Julia Barnett,LATAM,JB-160453,2015-12-31,2015,MX-2014-108574,Medium,OFF-LA-10004969,...,Home Office,2016-01-04,Standard Class,Tamaulipas,Labels,0.000,0.660,3,16.740,1.324
51289,Office Supplies,Zaporizhzhya,Guy Thornton,EMEA,GT-47553,2015-12-31,2015,UP-2014-4410,Medium,OFF-AVE-10003558,...,Consumer,2016-01-04,Standard Class,Zaporizhzhya,Labels,0.000,6.120,4,27.840,1.700

In [79]:
drop_example3 = data2.drop(data2.columns[3], axis =1)
drop_example3

,Category,City,Country,Market,Customer ID,Order Date,Year (OrderDate),Order ID,Order Priority,Product ID,...,Segment,Ship Date,Ship Mode,State,Sub-Category,Discount,Profit,Quantity,Sales,Shipping Cost
0,Office Supplies,Budapest,Hungary,EMEA,AT-7352,2012-01-01,2012,HU-2011-1220,High,OFF-TEN-10001585,...,Consumer,2012-01-05,Second Class,Budapest,Storage,0.000,29.640,4,66.120,8.170
1,Office Supplies,Constantine,Algeria,EMEA,TB-112801,2012-01-01,2012,AG-2011-2040,Medium,OFF-TEN-10000025,...,Consumer,2012-01-06,Standard Class,Constantine,Storage,0.000,106.140,2,408.300,35.460
2,Furniture,Wagga Wagga,Australia,APAC,JH-159851,2012-01-01,2012,IN-2011-47883,Medium,FUR-FU-10003447,...,Consumer,2012-01-08,Standard Class,New South Wales,Furnishings,0.100,37.770,5,113.670,4.700
3,Office Supplies,Wagga Wagga,Australia,APAC,JH-159851,2012-01-01,2012,IN-2011-47883,Medium,OFF-PA-10001968,...,Consumer,2012-01-08,Standard Class,New South Wales,Paper,0.100,15.342,2,55.242,1.800
4,Office Supplies,Wagga Wagga,Australia,APAC,JH-159851,2012-01-01,2012,IN-2011-47883,Medium,OFF-SU-10000618,...,Consumer,2012-01-08,Standard Class,New South Wales,Supplies,0.100,36.036,3,120.366,9.720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,Technology,S√£o Paulo,Brazil,LATAM,EB-139753,2015-12-31,2015,MX-2014-116267,High,TEC-AC-10003454,...,Corporate,2016-01-03,Second Class,S√£o Paulo,Accessories,0.000,28.420,1,74.800,7.312
51286,Technology,S√£o Paulo,Brazil,LATAM,EB-139753,2015-12-31,2015,MX-2014-116267,High,TEC-CO-10000137,...,Corporate,2016-01-03,Second Class,S√£o Paulo,Copiers,0.002,301.466,5,1264.466,253.254
51287,Office Supplies,Agadir,Morocco,EMEA,LP-70951,2015-12-31,2015,MO-2014-2560,Medium,OFF-WIL-10001069,...,Consumer,2016-01-05,Standard Class,Souss-Massa-Dra√¢,Binders,0.000,0.420,1,3.990,0.490
51288,Office Supplies,Reynosa,Mexico,LATAM,JB-160453,2015-12-31,2015,MX-2014-108574,Medium,OFF-LA-10004969,...,Home Office,2016-01-04,Standard Class,Tamaulipas,Labels,0.000,0.660,3,16.740,1.324
51289,Office Supplies,Zaporizhzhya,Ukraine,EMEA,GT-47553,2015-12-31,2015,UP-2014-4410,Medium,OFF-AVE-10003558,...,Consumer,2016-01-04,Standard Class,Zaporizhzhya,Labels,0.000,6.120,4,27.840,1.700

In [80]:
drop_example = data2.drop([2,4])
drop_example

,Category,City,Country,Customer Name,Market,Customer ID,Order Date,Year (OrderDate),Order ID,Order Priority,...,Segment,Ship Date,Ship Mode,State,Sub-Category,Discount,Profit,Quantity,Sales,Shipping Cost
0,Office Supplies,Budapest,Hungary,Annie Thurman,EMEA,AT-7352,2012-01-01,2012,HU-2011-1220,High,...,Consumer,2012-01-05,Second Class,Budapest,Storage,0.000,29.640,4,66.120,8.170
1,Office Supplies,Constantine,Algeria,Toby Braunhardt,EMEA,TB-112801,2012-01-01,2012,AG-2011-2040,Medium,...,Consumer,2012-01-06,Standard Class,Constantine,Storage,0.000,106.140,2,408.300,35.460
3,Office Supplies,Wagga Wagga,Australia,Joseph Holt,APAC,JH-159851,2012-01-01,2012,IN-2011-47883,Medium,...,Consumer,2012-01-08,Standard Class,New South Wales,Paper,0.100,15.342,2,55.242,1.800
5,Office Supplies,Stockholm,Sweden,Eugene Moren,EMEA,EM-141402,2012-01-01,2012,IT-2011-3647632,High,...,Home Office,2012-01-05,Second Class,Stockholm,Paper,0.500,-26.055,3,44.865,4.820
6,Technology,St. Catharines,Canada,Magdelene Morse,USCA,MM-72602,2012-01-02,2012,CA-2011-1510,Medium,...,Consumer,2012-01-06,Standard Class,Ontario,Machines,0.000,3.120,1,314.220,24.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,Technology,S√£o Paulo,Brazil,Erica Bern,LATAM,EB-139753,2015-12-31,2015,MX-2014-116267,High,...,Corporate,2016-01-03,Second Class,S√£o Paulo,Accessories,0.000,28.420,1,74.800,7.312
51286,Technology,S√£o Paulo,Brazil,Erica Bern,LATAM,EB-139753,2015-12-31,2015,MX-2014-116267,High,...,Corporate,2016-01-03,Second Class,S√£o Paulo,Copiers,0.002,301.466,5,1264.466,253.254
51287,Office Supplies,Agadir,Morocco,Liz Preis,EMEA,LP-70951,2015-12-31,2015,MO-2014-2560,Medium,...,Consumer,2016-01-05,Standard Class,Souss-Massa-Dra√¢,Binders,0.000,0.420,1,3.990,0.490
51288,Office Supplies,Reynosa,Mexico,Julia Barnett,LATAM,JB-160453,2015-12-31,2015,MX-2014-108574,Medium,...,Home Office,2016-01-04,Standard Class,Tamaulipas,Labels,0.000,0.660,3,16.740,1.324
51289,Office Supplies,Zaporizhzhya,Ukraine,Guy Thornton,EMEA,GT-47553,2015-12-31,2015,UP-2014-4410,Medium,...,Consumer,2016-01-04,Standard Class,Zaporizhzhya,Labels,0.000,6.120,4,27.840,1.700

In [81]:
drop_example1 = data2.drop(data2.index[:5])
drop_example1

,Category,City,Country,Customer Name,Market,Customer ID,Order Date,Year (OrderDate),Order ID,Order Priority,...,Segment,Ship Date,Ship Mode,State,Sub-Category,Discount,Profit,Quantity,Sales,Shipping Cost
5,Office Supplies,Stockholm,Sweden,Eugene Moren,EMEA,EM-141402,2012-01-01,2012,IT-2011-3647632,High,...,Home Office,2012-01-05,Second Class,Stockholm,Paper,0.500,-26.055,3,44.865,4.820
6,Technology,St. Catharines,Canada,Magdelene Morse,USCA,MM-72602,2012-01-02,2012,CA-2011-1510,Medium,...,Consumer,2012-01-06,Standard Class,Ontario,Machines,0.000,3.120,1,314.220,24.100
7,Furniture,Papakura,New Zealand,Ken Lonsdale,APAC,KL-166451,2012-01-03,2012,ID-2011-80230,Low,...,Consumer,2012-01-09,Standard Class,Auckland,Chairs,0.400,-95.676,2,159.444,10.070
8,Furniture,Papakura,New Zealand,Ken Lonsdale,APAC,KL-166451,2012-01-03,2012,ID-2011-80230,Low,...,Consumer,2012-01-09,Standard Class,Auckland,Chairs,0.400,-26.412,2,68.868,8.170
9,Technology,Papakura,New Zealand,Ken Lonsdale,APAC,KL-166451,2012-01-03,2012,ID-2011-80230,Low,...,Consumer,2012-01-09,Standard Class,Auckland,Accessories,0.400,3.420,2,69.300,8.340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,Technology,S√£o Paulo,Brazil,Erica Bern,LATAM,EB-139753,2015-12-31,2015,MX-2014-116267,High,...,Corporate,2016-01-03,Second Class,S√£o Paulo,Accessories,0.000,28.420,1,74.800,7.312
51286,Technology,S√£o Paulo,Brazil,Erica Bern,LATAM,EB-139753,2015-12-31,2015,MX-2014-116267,High,...,Corporate,2016-01-03,Second Class,S√£o Paulo,Copiers,0.002,301.466,5,1264.466,253.254
51287,Office Supplies,Agadir,Morocco,Liz Preis,EMEA,LP-70951,2015-12-31,2015,MO-2014-2560,Medium,...,Consumer,2016-01-05,Standard Class,Souss-Massa-Dra√¢,Binders,0.000,0.420,1,3.990,0.490
51288,Office Supplies,Reynosa,Mexico,Julia Barnett,LATAM,JB-160453,2015-12-31,2015,MX-2014-108574,Medium,...,Home Office,2016-01-04,Standard Class,Tamaulipas,Labels,0.000,0.660,3,16.740,1.324
51289,Office Supplies,Zaporizhzhya,Ukraine,Guy Thornton,EMEA,GT-47553,2015-12-31,2015,UP-2014-4410,Medium,...,Consumer,2016-01-04,Standard Class,Zaporizhzhya,Labels,0.000,6.120,4,27.840,1.700

# Sorting Data

In [84]:
sorting_example = data2.sort_values(by = ['Country',"Market"], ascending = True)
sorting_example

,Category,City,Country,Customer Name,Market,Customer ID,Order Date,Year (OrderDate),Order ID,Order Priority,...,Segment,Ship Date,Ship Mode,State,Sub-Category,Discount,Profit,Quantity,Sales,Shipping Cost
1450,Office Supplies,Jalalabad,Afghanistan,Thea Hudgings,APAC,TH-211151,2012-04-05,2012,IN-2011-55037,Medium,...,Corporate,2012-04-10,Standard Class,Nangarhar,Art,0.0,14.400,3,76.140,4.54
1451,Office Supplies,Jalalabad,Afghanistan,Thea Hudgings,APAC,TH-211151,2012-04-05,2012,IN-2011-55037,Medium,...,Corporate,2012-04-10,Standard Class,Nangarhar,Binders,0.0,39.270,11,127.050,5.20
1452,Office Supplies,Jalalabad,Afghanistan,Thea Hudgings,APAC,TH-211151,2012-04-05,2012,IN-2011-55037,Medium,...,Corporate,2012-04-10,Standard Class,Nangarhar,Envelopes,0.0,85.500,5,231.150,26.95
1453,Office Supplies,Jalalabad,Afghanistan,Thea Hudgings,APAC,TH-211151,2012-04-05,2012,IN-2011-55037,Medium,...,Corporate,2012-04-10,Standard Class,Nangarhar,Labels,0.0,1.140,2,13.260,1.14
1454,Technology,Jalalabad,Afghanistan,Thea Hudgings,APAC,TH-211151,2012-04-05,2012,IN-2011-55037,Medium,...,Corporate,2012-04-10,Standard Class,Nangarhar,Copiers,0.0,7.050,5,712.350,49.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49129,Office Supplies,Bulawayo,Zimbabwe,Beth Thompson,EMEA,BT-13051,2015-11-30,2015,ZI-2014-6740,High,...,Home Office,2015-12-05,Standard Class,Bulawayo,Supplies,0.7,-45.744,8,59.616,7.12
49162,Office Supplies,Chitungwiza,Zimbabwe,Michael Nguyen,EMEA,MN-79351,2015-12-01,2015,ZI-2014-6750,Medium,...,Consumer,2015-12-05,Second Class,Harare,Binders,0.7,-32.238,1,15.102,1.34
50362,Office Supplies,Bulawayo,Zimbabwe,John Castell,EMEA,JC-57751,2015-12-18,2015,ZI-2014-9550,Medium,...,Consumer,2015-12-23,Standard Class,Bulawayo,Binders,0.7,-2.349,1,1.161,0.07
50363,Technology,Bulawayo,Zimbabwe,John Castell,EMEA,JC-57751,2015-12-18,2015,ZI-2014-9550,Medium,...,Consumer,2015-12-23,Standard Class,Bulawayo,Machines,0.7,-93.180,2,71.640,4.05
50798,Furniture,Epworth,Zimbabwe,Janet Martin,EMEA,JM-52501,2015-12-25,2015,ZI-2014-6030,Medium,...,Consumer,2016-01-01,Standard Class,Harare,Chairs,0.7,-56.277,1,49.653,3.61

# Rename Data

In [ ]:
rename_example  = data2.rename(columns = {'Customer Name': 'Cust Name'})
rename_example

# Adding Data

In [73]:
import numpy as np

np.random.seed(25)
random_example = pd.DataFrame(np.random.rand(10,2), columns = ['a','b'])
random_example.iloc[-1] = np.nan
random_example1 = random_example.add(1, fill_value = 10)
random_example1

           a          b
0   1.870124   1.582277
1   1.278839   1.185911
2   1.411100   1.117376
3   1.684969   1.437611
4   1.556229   1.367080
5   1.402366   1.113041
6   1.447031   1.585445
7   1.161985   1.520719
8   1.326051   1.699186
9  11.000000  11.000000

# Replace in Pandas

In [ ]:
replace_example = pd.DataFrame({'A': ['a','b','c'], 'B': [1.0,2.0,3.0]})
#replace_example

replace_example1 = replace_example.replace('b','e')
replace_example1

In [ ]:
replace_example2 = replace_example.replace({'A': 'b'}, 4.0)
replace_example2

In [ ]:
replace_example3 = replace_example.replace({'a':1.0 , 2.0 : 3.0 , 3.0:4.0})
replace_example3

In [ ]:
replace_example4 = pd.DataFrame({'A': ['cat','hat','mat'] , 'B':["pat","rat", "eat"]})
replace_example5 = replace_example4.replace(to_replace = 'at', value = 'op' , regex = True)
replace_example5

# Max Value

In [ ]:
max_example = data2[["Country", "Sales"]][data2.Sales == data2["Sales"].max()]
max_example

# Min Value

In [ ]:
min_example = data2[["Country", "Sales"]][data2.Sales == data2["Sales"].min()]
min_example